<nav class="navbar">

  <a routerLink="/home" routerLinkActive="active" class="logo cursor-pointer">
    EPC-IA ⚽
  </a>

  <div class="menu">
    <a routerLink="/home" routerLinkActive="active">Início</a>
    <a routerLink="/bilhete" routerLinkActive="active">Bilhete do Dia</a>
    <a routerLink="/historico" routerLinkActive="active">Bilhetes Salvos</a>
    <a routerLink="/jogos" routerLinkActive="active">Jogos</a>
    <a routerLink="/ranking" routerLinkActive="active">Ranking</a>
  </div>

</nav>
