.navbar {
  width: 100%;
  padding: 15px 30px;
  background: rgba(15, 26, 43, 0.85);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #0d1a2e;
  display: flex;
  align-items: center;
  gap: 40px; 
  top: 0;
  z-index: 9999;
}

.logo {
  color: #2ce39b;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: #d5d8df;
  font-size: 18px; /* tamanho maior */
  font-weight: 600; /* negrito */
  letter-spacing: 0.3px; /* deixa mais premium */
  transition: 0.2s;
}

.menu a:hover {
  color: #2ce39b;
  transform: translateY(-1px); /* leve animação */
}

.active {
  color: #2ce39b !important;
  border-bottom: 2px solid #2ce39b;
  padding-bottom: 2px;
  font-weight: 700; /* ainda mais forte quando ativo */
}

.menu a:hover {
  color: #2ce39b;
  text-shadow: 0 0 6px rgba(44,227,155,0.6);
}