.dashboard {
  text-align: center;
  margin-top: 40px;
}

.title {
  color: #2ce39b;
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  color: #cdd2d8;
  font-size: 18px;
  margin-top: 8px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: rgba(15, 26, 43, 0.85);
  backdrop-filter: blur(6px);
  padding: 25px;
  width: 300px;
  border-radius: 12px;
  border: 1px solid #0d1a2e;
  color: #d5d8df;
  text-decoration: none;
  transition: 0.2s;
}

.card:hover {
  border-color: #2ce39b;
  transform: translateY(-4px);
}

.card h2 {
  color: #2ce39b;
  font-size: 22px;
  margin-bottom: 10px;
}


.bankroll-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.bankroll-card {
  background: rgba(15, 26, 43, 0.85);
  border-radius: 12px;
  padding: 20px 30px;
  width: 500px;
  text-align: center;
  color: #d5d8df;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.bankroll-card.create input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.bankroll-card button {
  background: #16c172;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.saldo-container {
  margin: 15px 0 10px;
}

.saldo-container .label {
  font-size: 17px;
  opacity: 0.85;
}

.saldo-container .valor {
  font-size: 32px;
  font-weight: 700;
  color: #2bff88; /* VERDE BRILHANTE */
  margin-top: 2px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  background: #14d86c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-processar {
  margin-top: 10px;
  padding: 10px 18px;
  background: #00c46b;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.btn-processar:hover {
  background: #00a85d;
}