/* --------- TAMANHO DO MODAL --------- */
.modal-container {
  width: 800px;         /* antes ~600px */
  max-width: 90vw;      
  padding: 30px;
}

/* tabela mais larga e uniforme */
.modal-table th,
.modal-table td {
  padding: 12px 18px !important;
  font-size: 15px;
}

/* deixar a coluna JOGO mais larga */
.modal-col-jogo {
  width: 35%;
}

/* deixar a coluna DATA mais larga */
.modal-col-data {
  width: 25%;
}

/* Mercado */
.modal-col-mercado {
  width: 25%;
}

/* Odd */
.modal-col-odd {
  width: 15%;
  text-align: right;
}
